#h1-tag{
    background: linear-gradient(to right, #d1a79d, #382f1c,#fff);
}

#first-div p {
    /* width: 400px;
    height: 200px; */
    border: 2px solid black;
    padding: 50px;
    /* text-align: center; */
    /* text-align-last: initial ; */
    text-decoration: wavy;
}

h2{
    color: rebeccapurple;
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-color: rgb(142, 12, 0);
}